#define SECRET_SSID "SSID"
#define SECRET_PASS "WifiPassord"
#define SECRET_APIUSERNAME "rttapi_username"
#define SECRET_APIKEY "rttapi_key"
#define SECRET_TELEGRAMTOKEN "telegram token"
#define SECRET_USERID "telegram userid"
